<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{home}">

<head>

    <title>Routing</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container" layout:fragment="content">

        <!-- Page Heading -->
        <h1 class="mt-4 mb-3">Secondary Robot Routing</h1>

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}">Home</a>
            </li>
            <li class="breadcrumb-item active">Routing</li>
        </ol>

        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Secondary Robot Routing Interface</h2>
                <p>A description of the Secondary Robot Routing Interface</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /END Page Content -->

    <!-- Page-Specific Scripts -->
    <th:block layout:fragment="scripts">
    </th:block>

</body>

</html>